<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dexarm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <xacro:if value="$(arg is_simulation)">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="$(arg is_simulation)">
                <xacro:if value="$(arg use_fake_hardware)">
                    <hardware>
                        <plugin>mock_components/GenericSystem</plugin>
                    </hardware>
                </xacro:if>
                <xacro:unless value="$(arg use_fake_hardware)">
                    <!-- USE REAL HARDWARE HERE -->
                    <hardware>
                    </hardware>
                </xacro:unless>
            </xacro:unless>
            <joint name="bases">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bases']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="B_Rot->In_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['B_Rot->In_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Join->In_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Join->In_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
